<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="light">
    <%- include('../partials/navbar') %>

    <main class="auth-container">

    <h1 class="auth-container">Create an Account</h1>
    <% if (error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>

    <form action="/auth/sign-up" method="POST">
        <div class="form-footer">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="Enter username" required>
        </div>
        

        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Enter email" required>
        </div>
        

        <div class="form-group">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Enter password" required>
        </div>
        <br>

        <button type="submit" class="btn-primary">Sign Up</button>
        
    </form>

    <p class="form-footer">Already have an account? <a href="/auth/login">Login here</a></p>

     <footer class="footer">
        <p>&copy; <%= new Date().getFullYear() %> Art Platform. All rights reserved.</p>
    </footer>
    <script src="/js/theme.js"></script>

</body>
</html>





