<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Art Platform</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
</head>

<body class="light">

    <%- include('./partials/navbar') %>

        <main class="container-home-page">
            <h1>Welcome to Art Platform</h1>
            <% if (user) { %>
                <p>Hello, <strong>
                        <%= user.username %>
                    </strong>!</p>

                <% } else { %>
                    <p>Join our community of artists and share your creativity.</p>
                    <div class="home-actions">
                        <a href="/auth/login" class="btn-primary">Login</a>
                        <a href="/auth/sign-up" class="btn-secondary">Sign Up</a>
                    </div>
                    <% } %>
        </main>

        <%- include('./partials/footer') %>
</body>

</html>