<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Art Platform</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
</head>

<body class="light homepage-image">

    <%- include('./partials/navbar') %>

        <main class="container-home-page">
            <div class="welcome-text">
                <h1>Welcome to Art Platform</h1>
                <p>Hello, <strong><%= currentUser.username %></strong>!</p>
            </div>
        </main>

        <%- include('./partials/footer') %>
</body>

</html>