<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <% if (error) {%> 
    <p style="color: red;"><%= error%></p>
    <%}%>

   <form action="/users/edit-profile?_method=PUT" method="POST" enctype="multipart/form-data">


        <div>
            <label for="bio">Bio:</label><br>
            <textarea id="bio" name="bio" rows="4" cols="50"><%= user.bio %></textarea>
        </div>
        <br>

        <div>
            <label for="profilePic">Profile Picture:</label><br>
            <input type="file" id="profilePic" name="profilePic">
        </div>
        <br>

        <button type="submit">Update Profile</button>

    </form>

    <a href="/users/profile">Back to Profile</a>
</body>
</html>